## Compare clustering 336 to clustering 340 for 6 gene signatures
### Only compare Cluster High, meaning of columns:
1. Change: number of Cluster High in clustering 336 - number of Cluster High in clustering 340
2. New: number of cases which is Cluster High in clustering 336 while Median/Low in clustering 340
3. Removed: number of cases which is Cluster Median/Low in clustering 336 while High in clustering 340

In [1]:
import os
import pandas as pd

In [34]:
path = '/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA'
signatures = ['6G_Interferon_Gamma', 'Gajewski_13G_Inflammatory', 'Inflammatory', 'Interferon_Gamma_Biology', 'Ribas_10G_Interferon_Gamma', 'T-cell_Exhaustion']

In [35]:
df_res = pd.DataFrame(columns=['Change', 'New', 'Removed'])

In [36]:
for signature in signatures:
    # specify sample clusters of 2 versions
    file = os.path.join(path, 'validation_336', 'sample_clusters_'+signature+'_zscore_hc_ward.D2_euclidean_3_reorder.csv')
    file_old = os.path.join(path, 'validation_340', 'sample_clusters_'+signature+'_zscore_hc_ward.D2_euclidean_3_reorder.csv')
    
    # load sample clusters of clustering 336
    df = pd.read_csv(file)
    print(df.shape)
#     display(df.head(3))
    # Cluster High cases of clustering 336
    set_case = set(df[df.Cluster=='Cluster High'].Sample.values)
    
    # load sample clusters of clustering 340
    df_old = pd.read_csv(file_old)
    print(df_old.shape)
#     display(df_old.head(3))
    # Cluster High cases of clutsering 340
    set_case_old = set(df_old[df_old.Cluster=='Cluster High'].Sample.values)
    
    # new Clsuter High cases
    set_case - set_case_old
    # removed Cluster High cases
    set_case_old - set_case
    
    # a row fo a gene signature: ['Change', 'New', 'Removed']
    df_res.loc[len(df_res)] = [len(set_case)-len(set_case_old), len(set_case-set_case_old), len(set_case_old-set_case)]
    print(df_res.shape)
    display(df_res)

(336, 2)
(340, 2)
(1, 3)

  Change New Removed
0      9  10       1

(336, 2)
(340, 2)
(2, 3)

  Change New Removed
0      9  10       1
1    -41   0      41

(336, 2)
(340, 2)
(3, 3)

  Change New Removed
0      9  10       1
1    -41   0      41
2     -3   0       3

(336, 2)
(340, 2)
(4, 3)

  Change New Removed
0      9  10       1
1    -41   0      41
2     -3   0       3
3      2   5       3

(336, 2)
(340, 2)
(5, 3)

  Change New Removed
0      9  10       1
1    -41   0      41
2     -3   0       3
3      2   5       3
4      0   0       0

(336, 2)
(340, 2)
(6, 3)

  Change New Removed
0      9  10       1
1    -41   0      41
2     -3   0       3
3      2   5       3
4      0   0       0
5    -23   1      24

In [37]:
df_res.index = signatures
df_res.rename_axis('Cluster High', inplace=True)
print(df_res.shape)
display(df_res)

(6, 3)

                           Change New Removed
Cluster High
6G_Interferon_Gamma             9  10       1
Gajewski_13G_Inflammatory     -41   0      41
Inflammatory                   -3   0       3
Interferon_Gamma_Biology        2   5       3
Ribas_10G_Interferon_Gamma      0   0       0
T-cell_Exhaustion             -23   1      24

In [40]:
df_res.to_csv(os.path.join(path, 'validation_336', 'summary_clustering_changes.csv'))