In [1]:
import os
import numpy as np
import pandas as pd
import csv

In [2]:
root = "/media/visiopharm5/WDGold/deeplearning/MIL/CLAM/eval_results"
target = "EVAL_mondor_hcc_tumor_258_Ribas_10G_Interferon_Gamma_cv_highvsrest_00X_CLAM_50_s1_cv"
path = os.path.join(root, target)

### Find all the csvs named "fold_k_optimal_tcga.csv"

In [3]:
k = 0
for roots, dirs, files in os.walk(path):
    for file in files:
        if file.startswith("fold_") and len(file)== 23:
            k = k + 1
print(k) # folds

10

### Load the csvs and summerize

In [4]:
# cases
df_res = pd.DataFrame(columns=['fold', 'consistent predictions', # 'consistent predictions (ratio)', 
                               'consistent predictions in Cluster High', 
#                                'consistent predictions in Cluster High (ratio)',
                               'consistent predictions in Cluster High true positive', 
#                                'consistent predictions in Cluster High true positive (ratio)',
                               'single predictions', # 'single predictions (ratio)', 
                               'single predictions in Cluster High', 
#                                'single predictions in Cluster High (ratio)',
                               'single predictions in Cluster High true positive' 
#                                'single predictions in Cluster High true positive (ratio)'
                              ])

for fold in range(k):
    df = pd.read_csv(os.path.join(path, "fold_"+str(fold)+"_optimal_tcga.csv"))
    print(df.shape)
    display(df.head(5))
    
    consistent_predictions = df['consistent_prediction'].sum()/2 # sum() doesn't work with a column including NaN
#     consistent_predictions_ratio = consistent_predictions/df.shape[0]
    consistent_predictions_in_Cluster_High = (df['consistent_prediction'] & (df.Y==1.0)).sum()/2
#     consistent_predictions_in_Cluster_High_ratio = consistent_predictions_in_Cluster_High/sum((df.Y==1.0))
    consistent_predictions_in_Cluster_High_true_positive = (df['consistent_prediction'] & (df.Y==1.0) & df['true_prediction']).sum()/2
#     consistent_predictions_in_Cluster_High_true_positive_ratio = consistent_predictions_in_Cluster_High_true_positive/sum((df.Y==1.0) and true_prediction)/2)
    single_slides = sum(df['consistent_prediction'].isna())
    single_predictions = consistent_predictions + single_slides
    single_predictions_in_Cluster_High = consistent_predictions_in_Cluster_High + (df['consistent_prediction'].isna() & (df.Y==1.0)).sum()
    single_predictions_in_Cluster_High_true_positive = consistent_predictions_in_Cluster_High_true_positive + (df['consistent_prediction'].isna() & (df.Y==1.0) & df['true_prediction']).sum()
    
    
    
    df_res = df_res.append({'fold': fold, 'consistent predictions': consistent_predictions, 
                            'consistent predictions in Cluster High': consistent_predictions_in_Cluster_High,
                            'consistent predictions in Cluster High true positive': consistent_predictions_in_Cluster_High_true_positive,
                            'single predictions': single_predictions,
                            'single predictions in Cluster High': single_predictions_in_Cluster_High, 
                            'single predictions in Cluster High true positive': single_predictions_in_Cluster_High_true_positive}, ignore_index=True)

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,1.0,0.626541,0.373459,HMNT0346,True,True
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,1.0,0.800001,0.199999,HMNT0346,True,True
2,HMNT0153 - 2017-06-08 16.41.05,1.0,1.0,0.735473,0.264527,HMNT0153,True,True
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,1.0,0.666071,0.333929,HMNT0153,True,True
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.972485,0.027515,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,1.0,0.714086,0.285914,HMNT0346,True,True
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,1.0,0.693394,0.306606,HMNT0346,True,True
2,HMNT0153 - 2017-06-08 16.41.05,1.0,1.0,0.843000,0.157000,HMNT0153,True,True
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,1.0,0.678666,0.321334,HMNT0153,True,True
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.969683,0.030317,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,1.0,0.768963,0.231037,HMNT0346,False,True
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,0.0,0.874036,0.125964,HMNT0346,False,False
2,HMNT0153 - 2017-06-08 16.41.05,1.0,0.0,0.952147,0.047853,HMNT0153,False,False
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,1.0,0.838845,0.161155,HMNT0153,False,True
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.983920,0.016080,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,1.0,0.348122,0.651878,HMNT0346,False,True
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,0.0,0.777683,0.222317,HMNT0346,False,False
2,HMNT0153 - 2017-06-08 16.41.05,1.0,1.0,0.419425,0.580575,HMNT0153,True,True
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,1.0,0.504371,0.495629,HMNT0153,True,True
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.921577,0.078423,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,1.0,0.753952,0.246048,HMNT0346,False,True
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,0.0,0.929587,0.070413,HMNT0346,False,False
2,HMNT0153 - 2017-06-08 16.41.05,1.0,1.0,0.799993,0.200008,HMNT0153,True,True
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,1.0,0.763982,0.236018,HMNT0153,True,True
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.985682,0.014318,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,0.0,0.768813,0.231187,HMNT0346,True,False
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,0.0,0.928761,0.071239,HMNT0346,True,False
2,HMNT0153 - 2017-06-08 16.41.05,1.0,0.0,0.735039,0.264961,HMNT0153,False,False
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,1.0,0.363581,0.636419,HMNT0153,False,True
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.976665,0.023335,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,0.0,0.999845,0.000155,HMNT0346,True,False
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,0.0,0.999383,0.000617,HMNT0346,True,False
2,HMNT0153 - 2017-06-08 16.41.05,1.0,0.0,0.999855,0.000145,HMNT0153,True,False
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,0.0,0.996409,0.003591,HMNT0153,True,False
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.999823,0.000177,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,1.0,0.782052,0.217948,HMNT0346,False,True
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,0.0,0.998340,0.001659,HMNT0346,False,False
2,HMNT0153 - 2017-06-08 16.41.05,1.0,0.0,0.990983,0.009017,HMNT0153,False,False
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,1.0,0.969733,0.030267,HMNT0153,False,True
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.998452,0.001548,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,0.0,0.831629,0.168371,HMNT0346,True,False
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,0.0,0.810711,0.189289,HMNT0346,True,False
2,HMNT0153 - 2017-06-08 16.41.05,1.0,0.0,0.956646,0.043354,HMNT0153,True,False
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,0.0,0.736556,0.263444,HMNT0153,True,False
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.958965,0.041035,HMNT0280,True,False

(258, 8)

,slide_id,Y,Y_hat,p_0,p_1,case_id,consistent_prediction,true_prediction
0,HMNT0346 - 2017-06-13 16.30.20,1.0,0.0,0.980353,0.019647,HMNT0346,True,False
1,HMNT0346_bis - 2017-06-13 17.02.45,1.0,0.0,0.964537,0.035463,HMNT0346,True,False
2,HMNT0153 - 2017-06-08 16.41.05,1.0,0.0,0.988353,0.011647,HMNT0153,True,False
3,HMNT0153_bis - 2017-06-08 17.21.02,1.0,0.0,0.960526,0.039474,HMNT0153,True,False
4,HMNT0280 - 2017-06-16 01.16.02,1.0,0.0,0.985456,0.014544,HMNT0280,True,False

### Visualize the results and export

In [5]:
print(df_res.shape)
display(df_res)
df_res.to_csv(os.path.join(path, "consistent_summary_optimal_tcga.csv"), index=False)

(10, 7)

,fold,consistent predictions,consistent predictions in Cluster High,consistent predictions in Cluster High true positive,single predictions,single predictions in Cluster High,single predictions in Cluster High true positive
0,0.0,110.0,11.0,8.0,130.0,14.0,11.0
1,1.0,90.0,8.0,5.0,110.0,11.0,8.0
2,2.0,109.0,7.0,2.0,129.0,10.0,5.0
3,3.0,104.0,8.0,3.0,124.0,11.0,6.0
4,4.0,105.0,9.0,6.0,125.0,12.0,9.0
5,5.0,109.0,7.0,2.0,129.0,10.0,4.0
6,6.0,112.0,9.0,2.0,132.0,12.0,3.0
7,7.0,77.0,5.0,2.0,97.0,8.0,5.0
8,8.0,116.0,10.0,1.0,136.0,13.0,3.0
9,9.0,113.0,9.0,2.0,133.0,12.0,4.0

### For Mondor series, each case has 1 either slide or 2 slides

In [6]:
list_len = []
df = pd.read_csv(os.path.join(path, "fold_"+str(1)+"_optimal_tcga.csv"))
for i in range(df.shape[0]):
    list_len.append(df[df['case_id'] == df.iloc[i, 5]].shape[0])
set(list_len)

{1, 2}