# Check if the TCGA cases we used are covered by the 2 cbioportal databases

In [1]:
import os
import pandas as pd

In [20]:
root1 = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA"
root2 = "/home/visiopharm5/Downloads/lihc_tcga"
root3 = "/home/visiopharm5/Downloads/lihc_tcga_pan_can_atlas_2018"

### Our data

In [30]:
df = pd.read_csv(os.path.join(root1, 'processed/fpkm_final_log2-zscore_CCL3L1-noDEFB134.csv'), sep='\t')
print("df:")
display(df.head(5))
print(df.shape) # (754, 424), added CCL3L1
for column in list(df.columns.values):
    if not column.endswith('01A'):
        print(column)

df:

,Gene Name,A9FW-01A,AA0U-01A,A115-01A,AAEA-01A,A4NL-01A,5261-01A,A9H9-01A,AAVW-01A,AADO-01A,...,A73C-01A,A8TG-01A,A8TD-01A,A9CE-01A,AAEE-01A,A1HT-01A,A25S-01A,AADA-01A,A110-01A,AAW2-01A
0,A2M,-0.537831,-0.098557,0.570601,1.113889,1.378957,0.339931,0.519716,-0.229012,0.918444,...,-0.040091,-0.370477,-0.303912,-0.744625,-1.526131,-2.251771,-1.227865,0.392349,1.089595,-0.931235
1,ACVR1C,-0.504946,-0.839264,0.142706,3.458086,1.217347,-0.765562,1.723686,-0.722042,-0.709895,...,0.496980,-0.485577,0.029178,-0.503878,-0.254889,-0.829736,0.462781,-0.576640,-0.413706,0.231489
2,ADAM12,-0.357543,0.253627,-0.320644,-0.284019,-0.037574,0.561511,-0.476636,0.382324,-0.181578,...,-0.391108,-0.030610,0.275191,-0.482136,-0.394662,-0.303797,-0.440273,-0.284500,-0.024295,-0.429420
3,ADM,-0.468373,-1.087499,-0.244260,0.992700,0.613214,-1.559603,-1.044426,-1.357893,-0.203794,...,-0.755130,0.555368,2.868043,-0.528681,-0.462068,-0.934544,-0.309320,-0.867872,4.224364,0.478948
4,ADORA2A,-0.838191,-0.004292,0.176411,0.029100,0.214656,0.686575,-0.872496,0.971425,2.615223,...,-0.253756,-1.113808,0.465562,-0.154081,-0.778446,-1.139846,-1.274851,1.244942,1.185422,0.760262

(733, 341)
Gene Name
4072-01B
4073-01B

In [10]:
set_ours = set([i[:-1] for i in list(df.columns.values)[1:]])

### Firehose database from cbioportal

In [8]:
df_firehose = pd.read_csv(os.path.join(root2, 'data_RNA_Seq_v2_mRNA_median_Zscores.txt'), sep='\t')
display(df_firehose.head(5))
print(df_firehose.shape)

,Hugo_Symbol,Entrez_Gene_Id,TCGA-2V-A95S-01,TCGA-2Y-A9GS-01,TCGA-2Y-A9GT-01,TCGA-2Y-A9GU-01,TCGA-2Y-A9GV-01,TCGA-2Y-A9GW-01,TCGA-2Y-A9GX-01,TCGA-2Y-A9GY-01,...,TCGA-ZP-A9CZ-01,TCGA-ZP-A9D0-01,TCGA-ZP-A9D1-01,TCGA-ZP-A9D2-01,TCGA-ZP-A9D4-01,TCGA-ZS-A9CD-01,TCGA-ZS-A9CE-01,TCGA-ZS-A9CF-01,TCGA-ZS-A9CF-02,TCGA-ZS-A9CG-01
0,UBE2Q2P2,100134869,-0.2717,-0.5324,-0.0775,0.0824,0.1578,0.6956,0.9245,0.3342,...,0.0156,-0.5797,0.0157,3.4724,0.5308,-0.7523,0.9915,1.2762,1.6706,0.8597
1,HMGB1P1,10357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LOC155060,155060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RNU12-2P,26823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SSX9,280660,-0.3675,-0.3675,-0.1933,-0.3675,-0.3675,-0.3675,-0.3675,2.0255,...,-0.3675,-0.3675,-0.3675,-0.3675,-0.3675,-0.3675,-0.3675,-0.3675,-0.2474,-0.3675

(20440, 375)

In [14]:
set_firehose = set([i[8:] for i in list(df_firehose.columns.values)[2:]])

In [15]:
set_ours - set_firehose # set(), so all case we used are included

set()

### PanCancer database from cbioportal

In [22]:
df_pancancer = pd.read_csv(os.path.join(root3, 'data_RNA_Seq_v2_expression_median.txt'), sep='\t')
display(df_pancancer.head(5))
print(df_pancancer.shape)

  cancer_study_identifier                       lihc_tcga_pan_can_atlas_2018
0               stable_id                   lihc_tcga_pan_can_atlas_2018_all
1          case_list_name                                        All samples
2   case_list_description                          All samples (372 samples)
3      case_list_category                                 all_cases_in_study
4           case_list_ids   TCGA-DD-AACG-01\tTCGA-FV-A495-01\tTCGA-DD-A4N...

(5, 2)

In [18]:
set_pancancer = set([i[8:] for i in list(df_pancancer.columns.values)[2:]])

In [19]:
set_ours - set_pancancer # {'A6J8-01', 'A8HS-01', 'A8TC-01'}

{'A6J8-01', 'A8HS-01', 'A8TC-01'}

#### Double-check with a file with all case

In [23]:
df_pancancer2 = pd.read_csv(os.path.join(root3, 'case_lists', 'cases_all.txt'), sep=':')
display(df_pancancer2.head(5))
print(df_pancancer2.shape)

  cancer_study_identifier                       lihc_tcga_pan_can_atlas_2018
0               stable_id                   lihc_tcga_pan_can_atlas_2018_all
1          case_list_name                                        All samples
2   case_list_description                          All samples (372 samples)
3      case_list_category                                 all_cases_in_study
4           case_list_ids   TCGA-DD-AACG-01\tTCGA-FV-A495-01\tTCGA-DD-A4N...

(5, 2)

In [33]:
set_pancancer2 = set([i[8:] for i in df_pancancer2.iloc[4,1][1:].split('\t')])

In [34]:
set_ours - set_pancancer2 # {'A6J8-01', 'A8HS-01', 'A8TC-01'}

{'A6J8-01', 'A8HS-01', 'A8TC-01'}