## Keep only 1 slide for each tumor / case 
#### Very important to ensure that the same slide list is used for all the gene signatures

In [1]:
import os
import pandas as pd
import random

### Use the slide list of T-cell_Exhaustion as reference
#### It is selected since there is the greatest increase compared to the whole series (258)

In [71]:
path = "/media/visiopharm5/WDGold/deeplearning/MIL/CLAM/dataset_csv"
file = "mondor_hcc_258_Ribas_10G_Interferon_Gamma_highvsrest.csv" # Inflammatory, Gajewski_13G_Inflammatory, 
                                                                # 6G_Interferon_Gamma, Interferon_Gamma_Biology,
                                                                # T-cell_Exhaustion, Ribas_10G_Interferon_Gamma,
                                                                # 10G_preliminary_IFN-Î³, Expanded_immune_gene
file_ref = "ref_mondor_hcc_139_T-cell_Exhaustion.csv"

In [72]:
ref = pd.read_csv(os.path.join(path, file_ref), index_col=0)
print(ref.shape)
display(ref.head(10))

(139, 2)

         case_id                                       slide_id
1   EX128-ARN273             HMNT0343_bis - 2017-06-06 12.56.13
3   EX128-ARN293             HMNT0582_bis - 2017-07-16 22.01.02
5   EX128-ARN275             HMNT0499_bis - 2017-06-05 11.22.25
7   EX128-ARN280             HMNT0156_bis - 2017-06-05 03.33.14
9   EX128-ARN202             HMNT0998_bis - 2017-06-30 07.23.23
10  EX128-ARN230                 HMNT0455 - 2017-06-16 16.46.38
13  EX128-ARN236             HMNT0280_bis - 2017-06-16 01.55.56
14  EX128-ARN291                 HMNT0672 - 2017-06-04 07.13.30
16  EX128-ARN295  HMNT1781_P705474_01_HES - 2018-11-01 10.08.24
18  EX128-ARN243             HMNT0071_bis - 2017-06-15 12.25.18

In [73]:
df = pd.read_csv(os.path.join(path, file), index_col=0)
print(df.shape)
display(df.head(5))

(258, 3)

        case_id                            slide_id       cluster
0  EX128-ARN217      HMNT0562 - 2017-06-18 08.12.49  Cluster High
1  EX128-ARN217  HMNT0562_bis - 2017-06-18 09.03.20  Cluster High
2  EX128-ARN322            HMNT2387_P761471-A03-HES  Cluster High
3  EX128-ARN268      HMNT0153 - 2017-06-08 16.41.05  Cluster High
4  EX128-ARN268  HMNT0153_bis - 2017-06-08 17.21.02  Cluster High

In [74]:
# keep only the slide which is in the ref
df = df[df["slide_id"].isin(ref["slide_id"].to_list())]
print(df.shape)
display(df.head(5))

(139, 3)

        case_id                            slide_id       cluster
1  EX128-ARN217  HMNT0562_bis - 2017-06-18 09.03.20  Cluster High
2  EX128-ARN322            HMNT2387_P761471-A03-HES  Cluster High
3  EX128-ARN268      HMNT0153 - 2017-06-08 16.41.05  Cluster High
5  EX128-ARN291      HMNT0672 - 2017-06-04 07.13.30  Cluster High
8  EX128-ARN243  HMNT0071_bis - 2017-06-15 12.25.18  Cluster High

In [75]:
# check if the slide list exactly the same as the in the ref
assert set(df["slide_id"].to_list()) == set(ref["slide_id"].to_list())

### Random sampling is not the correct practice

In [76]:
# sort the slide alphabetically, so that in the next cell the first slide will be kept
# df.sort_values(by=['case_id', 'slide_id'], inplace=True) # default is ascending
# df.reset_index(drop=True, inplace=True)
# print(df.shape)
# display(df.head(5))

In [77]:
# randonly drop a slide for each case
# for id in set(df["case_id"].to_list()): # the iteration is random over a set
# #     print(id)
#     list_id = df[df["case_id"]==id].index.to_list()
#     if len(list_id) > 1:
#         df.drop(index=random.choice(list_id), inplace=True)
# #         df.drop(index=list_id[1], inplace=True)
        
# print(df.shape)
# display(df.head(5))

In [78]:
df.to_csv(os.path.join(path, file.replace("258", "139"))) #139-asc-first