In [1]:
import numpy as np
import pandas as pd
import seaborn
import matplotlib.pyplot as plt

In [11]:
# path = "E:\\deeplearning\\Hepatocarcinomes\\TCGA\\heatmap\\"
path = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/heatmap/"

In [17]:
clusters_km_sangro = pd.read_csv(path+"consensus_sample_clusters_filtered-sangro_median_km_euclidean_2_3.csv", sep=',')
print(clusters_km_sangro.shape)
display(clusters_km_sangro.head(5))

(340, 2)

     Sample       Cluster
0  A95S.01A  Cluster High
1  A7MF.01A  Cluster High
2  AADN.01A  Cluster High
3  AACC.01A  Cluster High
4  A7D4.01A  Cluster High

In [18]:
clusters_km_filtered4 = pd.read_csv(path+"consensus_sample_clusters_filtered-6_median_km_euclidean_8_3.csv", sep=',')
print(clusters_km_filtered4.shape)
display(clusters_km_filtered4.head(5))

(340, 2)

     Sample       Cluster
0  AACO.01A  Cluster High
1  AAUZ.01A  Cluster High
2  A495.01A  Cluster High
3  AACC.01A  Cluster High
4  AAE4.01A  Cluster High

In [19]:
def overlapping_values(cluster_names_ref, cluster_names, clusters_ref, clusters):
    clusters_ref = set(clusters_ref[clusters_ref.Cluster==cluster_names_ref].Sample)
    print(len(clusters_ref))
    clusters = set(clusters[clusters.Cluster==cluster_names].Sample)
    print(len(clusters))
    return len(clusters.intersection(clusters_ref)), len(clusters.intersection(clusters_ref))/len(clusters_ref)

In [21]:
overlapping_values(cluster_names="Cluster 02", cluster_names_ref="Cluster 01", clusters_ref=clusters_km_sangro, clusters=clusters_km_filtered4)

43
62

(31, 0.7209302325581395)

In [82]:
data = []
data_nor = []
for j in [2,1,3]:
    for i in range(3):
        value, fraction = overlapping_values(cluster_names="Cluster 0"+str(i+1), cluster_names_ref="Cluster 0"+str(j), clusters_ref=clusters_km_sangro, clusters=clusters_km_filtered4)
        data.append(value)
        data_nor.append(fraction)
print(data)
print(data_nor)

171
129
171
149
171
62
127
129
127
149
127
62
42
129
42
149
42
62
[109, 56, 6, 18, 83, 26, 2, 10, 30]
[0.6374269005847953, 0.32748538011695905, 0.03508771929824561, 0.14173228346456693, 0.6535433070866141, 0.2047244094488189, 0.047619047619047616, 0.23809523809523808, 0.7142857142857143]

In [83]:
data = np.reshape(data,(3,3))
data_nor = np.reshape(data_nor,(3,3))
print(data)
print(data_nor)

[[109  56   6]
 [ 18  83  26]
 [  2  10  30]]
[[0.6374269  0.32748538 0.03508772]
 [0.14173228 0.65354331 0.20472441]
 [0.04761905 0.23809524 0.71428571]]

In [53]:
data[1,1]>data[1,2]

True

In [14]:
cluster03_km_sangro = set(clusters_km_sangro[clusters_km_sangro.Cluster=="Cluster 03"].Sample)
print(len(cluster03_km_sangro))

42

In [20]:
cluster03_km_filtered4 = set(clusters_km_filtered4[clusters_km_filtered4.Cluster=="Cluster 03"].Sample)
print(len(cluster03_km_filtered4))

62

In [23]:
len(cluster03_km_sangro-cluster03_km_filtered4)

12

In [94]:
def plot_confusion_matrix(data, labels, output_filename, fmt="d"):
    """Plot confusion matrix using heatmap.
 
    Args:
        data (list of list): List of lists with confusion matrix data.
        labels (list): Labels which will be plotted across x and y axis.
        output_filename (str): Path to output file.
 
    """
    seaborn.set(color_codes=True)
    plt.figure(1, figsize=(9, 6))
 
    plt.title("Confusion Matrix")
 
    seaborn.set(font_scale=1.4)
    ax = seaborn.heatmap(data, annot=True, cmap="YlGnBu", cbar_kws={'label': 'Scale'}, fmt=fmt)
 
    ax.set_xticklabels(labels)
    ax.set_yticklabels(labels)
 
    ax.set(ylabel="Sample clusters assigned by concensus K-Means using Sangro's gene list", 
           xlabel="Sample clusters assigned by concensus K-Means using full genes")
 
#    plt.savefig(output_filename, bbox_inches='tight', dpi=300)
    plt.plot()

In [95]:
# define labels
labels = ["Low", "Median", "High"]
 
# create confusion matrix
plot_confusion_matrix(data, labels, path+"confusion_matrix_full_vs_sangro_genes_km.png")

In [96]:
plot_confusion_matrix(data_nor, labels, path+"confusion_matrix_nor_full_vs_sangro_genes_km.png", fmt=".2f")