In [1]:
import numpy as np
import pandas as pd

In [2]:
root = "E:\\deeplearning\\Hepatocarcinomes\\TCGA\\"

In [58]:
list_sia = pd.read_excel(root + 'classifier_genes_Sia_UPPER.xlsx')
fpkm = pd.read_csv(root + 'processed\\fpkm_final_log2-median-centering.csv', sep='\t', index_col=0)

In [59]:
print(list_sia.shape)
display(list_sia.head(5))
print()
print(fpkm.shape)
display(fpkm.head(5))

(112, 3)

   ID name Gene name class
0    PAGE4     PAGE4  Rest
1  UGT2B17   UGT2B17  Rest
2  C1QTNF3   C1QTNF3  Rest
3    DHRS2     DHRS2  Rest
4  FAM133A   FAM133A  Rest

(733, 340)

,AADA-01A,A5SJ-01A,AACF-01A,A9GZ-01A,A113-01A,A4NK-01A,A3KF-01A,A5NO-01A,AAVX-01A,AAE0-01A,...,AAW1-01A,A7IL-01A,A5UC-01A,AAV2-01A,AADD-01A,A10S-01A,A11A-01A,A4NJ-01A,A3A1-01A,A3OU-01A
Gene Name,,,,,,,,,,,,,,,,,,,,,
A2M,0.580986,0.979374,-0.436710,2.521986,0.771957,-1.358418,-2.809726,0.480985,0.357785,0.992854,...,-2.196092,-1.308245,2.675234,-1.795184,-0.627455,0.049225,-1.789025,-0.278143,0.480987,0.120638
ACVR1C,-0.042060,-0.071784,-0.055145,0.630880,-0.012114,0.468331,-0.036876,0.389841,0.450002,-0.121834,...,0.019613,-0.027407,-0.105921,-0.048306,-0.080654,-0.091848,0.195951,-0.112913,0.057512,-0.068767
ADAM12,0.013547,0.098334,-0.007120,-0.022410,-0.000270,-0.024944,-0.037183,0.105471,-0.068572,0.447702,...,-0.057101,-0.081946,0.197058,-0.025100,-0.076741,0.147629,-0.051746,0.164958,-0.063445,0.637893
ADM,-0.734360,0.301992,-0.439411,-0.878293,-1.283949,0.490239,-0.695270,0.152928,1.663169,0.629912,...,0.150835,-0.169383,-0.638158,0.690076,-0.784238,0.881678,-0.388240,0.037831,1.052138,-0.524956
ADORA2A,0.716873,-0.105847,-0.342741,0.411041,-0.609093,0.067196,-0.473529,-0.017209,0.370546,0.941321,...,-0.216369,0.117244,0.431613,-0.321597,-0.012754,-0.294310,-0.528927,-0.023847,-0.227879,0.585697

In [60]:
print(list_sia["ID name"].values==list_sia["Gene name"].values)
list_sia.drop(columns="ID name", inplace=True)
print(list_sia.shape)
display(list_sia.head(5))

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
(112, 2)

  Gene name class
0     PAGE4  Rest
1   UGT2B17  Rest
2   C1QTNF3  Rest
3     DHRS2  Rest
4   FAM133A  Rest

In [53]:
set_nanos = set(fpkm.index.tolist())

In [54]:
set_sia = set(list_sia["Gene name"].tolist())

In [55]:
set_overlap = set_nanos.intersection(set_sia)
print(len(set_overlap))

33

In [63]:
list_sia = list_sia[list_sia["Gene name"].isin(set_overlap)].reset_index(drop=True)

In [64]:
fpkm = list_sia.join(fpkm, on="Gene name")

In [66]:
# Export data
fpkm.to_csv(root + 'processed\\fpkm_final_filtered-Sia_log2-median-centering.csv', index=False, sep='\t')